@model BBSObserver.Models.History.FileHistory

@{
    ViewBag.Title = "詳細";
}

<h2>ファイル送信履歴詳細</h2>

<div>
    <h4>ファイル送信履歴情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("戻る", "Index")
</p>
